@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

/* Custom theme colors (Tailwind v4 syntax) */
@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}

/* Global font */
* {
  font-family: 'Outfit', sans-serif;
}

/* Utility class for Playfair font */
.font-playfair {
  font-family: 'Playfair', serif !important;
}
